<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRpepcrg7rlndDonoWTAxnT5cwg9b7prA</string>
	<key>GCM_SENDER_ID</key>
	<string>497115069331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Projects.ScreenRivalry</string>
	<key>PROJECT_ID</key>
	<string>screenrivalry</string>
	<key>STORAGE_BUCKET</key>
	<string>screenrivalry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497115069331:ios:6b7eb1bafd4fc5237dc666</string>
</dict>
</plist>